<footer class="text-center py-12">
  <div class="max-w-7xl mx-auto px-8 lg:px-16 xl:px-36">

    <!-- Título destacado -->
    <p class="text-white font-bold italic text-2xl lg:text-4xl">
      Experiencia en desarrollo web
    </p>

    <!-- Espacio entre título y enlace -->
    <div class="mt-8 flex flex-col items-center">
      <!-- Imagen con tamaño más grande y bien alineada -->
      <img class="w-200 h-80 object-contain mb-10" src="/images/Captura de pantalla 2025-02-20 024321.png" alt="Foro Universitario">

      <!-- Enlace con tamaño ajustado -->
      <nav>
        <a href="https://forouniversitario.com.ar/" 
           class="text-negroni-500 text-xl font-medium hover:text-tomato-500 transition-colors duration-300">
          Foro Universitario
        </a>
      </nav>
    </div>

  </div>
</footer>
